            <div id="footer" class="row well well-sm">
                <div class="col-xs-12">
                    <p id="fb-like" class="fb-like" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></p>
                    <p id="tweet">
                        <a class="twitter-share-button" href="https://puzzle15tiles.appspot.com/"
                            data-related="mixnb" data-size="medium" data-count="none">Tweet</a>
                    </p>
                    <script type="text/javascript">
                    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
                    </script>
                    <p id="copyright">
                        <a href="/">My15T-Puzzle</a><br>
                        Copyright 2014, 2015
                        <a href="https://sites.google.com/site/michinobumaeda/">Michinobu Maeda</a>.
                    </p>
                </div>
            </div>
